
.top-line a{
    color: white;
    text-decoration: none;
}

.nav-item {
    border-bottom: 5px solid transparent;

    a {
        font-weight: bold;
    }

    &:hover {
        transition: .3s;
        border-bottom: 5px solid dodgerblue;
    }

    &.active {
        border-bottom: 5px solid dodgerblue;

        a {
            color: dodgerblue;
        }
    }
}

.jumbo-wrapper {
    height: 400px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

}
