
.top-line a{
    color: white;
    text-decoration: none;
}

.nav-item {
    border-bottom: 5px solid transparent;

    a {
        font-weight: bold;
    }

    &:hover {
        transition: .3s;
        border-bottom: 5px solid dodgerblue;
    }

    &.active {
        border-bottom: 5px solid dodgerblue;

        a {
            color: dodgerblue;
        }
    }
}
